# VS Code files
**/.vscode/extensions/
**/.vscode/argv.json

# package caches
**/.nuget/packages/**
**/plugins/**

# rustup
**/.rustup/toolchains/
**/.rustup/tmp/
**/.rustup/update-hashes/
**/.rustup/downloads/