/* --- Global Styles --- */
* {
  font-family: 'CommitMono Nerd Font', Regular;
  font-size: 16px;
  min-height: 0;
  color: #ee8787;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
}

/* --- All modules --- */
.modules-left,
.modules-center,
.modules-right {
  background-color: #5a0505;
  padding: 4px;
  margin: 4px;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.modules-left {
  min-width: 120px;
}

/* module elements */
#tray,
#custom-music,
#workspaces button,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#network,
#clock {
  padding: 4px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

/* module element hovering effect */
#tray>.passive:hover,
#tray>.active:hover,
#tray>.needs-attention:hover,
#custom-music:hover,
#workspaces button:hover,
#workspaces button.active:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#clock:hover {
  background: #df4747;
  color: white;
}


#network.disconnected {
  color: #e78284;
}

#bluetooth.on {
  color: #2196f3;
}

#bluetooth.connected {
  color: #99d1db;
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: #310101;
  color: #ee8787;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}